---
http_interactions:
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon/charmander
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"459ea-VQ3vpnRI5m6rPwvSyPm4cf4MHA4"
      X-Cloud-Trace-Context:
      - e9d3b0d134763db896a6ae4c5881bdad/8210440889984013638
      X-Country-Code:
      - US
      X-Orig-Accept-Language:
      - en-US,en;q=0.9
    body:
      encoding: ASCII-8BIT
      string: '{"abilities":[{"ability":{"name":"blaze","url":"https://pokeapi.co/api/v2/ability/66/"},"is_hidden":false,"slot":1},{"ability":{"name":"solar-power","url":"https://pokeapi.co/api/v2/ability/94/"},"is_hidden":true,"slot":3}],"base_experience":62,"cries":{"latest":"https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/4.ogg","legacy":"https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/legacy/4.ogg"},"forms":[{"name":"charmander","url":"https://pokeapi.co/api/v2/pokemon-form/4/"}],"game_indices":[{"game_index":176,"version":{"name":"red","url":"https://pokeapi.co/api/v2/version/1/"}},{"game_index":176,"version":{"name":"blue","url":"https://pokeapi.co/api/v2/version/2/"}},{"game_index":176,"version":{"name":"yellow","url":"https://pokeapi.co/api/v2/version/3/"}},{"game_index":4,"version":{"name":"gold","url":"https://pokeapi.co/api/v2/version/4/"}},{"game_index":4,"version":{"name":"silver","url":"https://pokeapi.co/api/v2/version/5/"}},{"game_index":4,"version":{"name":"crystal","url":"https://pokeapi.co/api/v2/ve[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon-species/4/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7aa6-2TCy0gddVH+X9nx8f2SGC72MD6A"
      Function-Execution-Id:
      - 6wrk73vb6knh
      X-Cloud-Trace-Context:
      - 76fe79264f960db8ae8603fa7e30c092
      X-Country-Code:
      - US
      X-Orig-Accept-Language:
      - "*"
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJiYXNlX2hhcHBpbmVzcyI6NzAsImNhcHR1cmVfcmF0ZSI6NDUsImNvbG9yIjp7Im5hbWUiOiJyZWQiLCJ1cmwiOiJodHRwczovL3Bva2VhcGkuY28vYXBpL3YyL3Bva2Vtb24tY29sb3IvOC8ifSwiZWdnX2dyb3VwcyI6W3sibmFtZSI6Im1vbnN0ZXIiLCJ1cmwiOiJodHRwczovL3Bva2VhcGkuY28vYXBpL3YyL2VnZy1ncm91cC8xLyJ9LHsibmF[...]
