---
http_interactions:
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon/?limit=5&offset=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1e2-daM8XYF+vpn0RT10CRy7N3SlM1w"
      X-Cloud-Trace-Context:
      - b1a07a348b226642e8dcfb991d8b2b93/14648207571306978255
      X-Country-Code:
      - US
    body:
      encoding: ASCII-8BIT
      string: '{"count":1350,"next":"https://pokeapi.co/api/v2/pokemon/?offset=10&limit=5","previous":"https://pokeapi.co/api/v2/pokemon/?offset=0&limit=5","results":[{"name":"charizard","url":"https://pokeapi.co/api/v2/pokemon/6/"},{"name":"squirtle","url":"https://pokeapi.co/api/v2/pokemon/7/"},{"name":"wartortle","url":"https://pokeapi.co/api/v2/pokemon/8/"},{"name":"blastoise","url":"https://pokeapi.co/api/v2/pokemon/9/"},{"name":"caterpie","url":"https://pokeapi.co/api/v2/pokemon/10/"}]}'
  recorded_at: Sat, 27 Dec 2025 14:03:42 GMT
recorded_with: VCR 6.4.0
