---
http_interactions:
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon/?limit=5&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1b0-+AFyxWvly+kMBxaaLYZoeyrQWxc"
      X-Cloud-Trace-Context:
      - 9eba9ea57787e0e8e0e6d663139dd379/5004627077402351624;o=1
      X-Country-Code:
      - US
      X-Orig-Accept-Language:
      - pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7
    body:
      encoding: ASCII-8BIT
      string: '{"count":1350,"next":"https://pokeapi.co/api/v2/pokemon/?offset=5&limit=5","previous":null,"results":[{"name":"bulbasaur","url":"https://pokeapi.co/api/v2/pokemon/1/"},{"name":"ivysaur","url":"https://pokeapi.co/api/v2/pokemon/2/"},{"name":"venusaur","url":"https://pokeapi.co/api/v2/pokemon/3/"},{"name":"charmander","url":"https://pokeapi.co/api/v2/pokemon/4/"},{"name":"charmeleon","url":"https://pokeapi.co/api/v2/pokemon/5/"}]}'
  recorded_at: Sat, 27 Dec 2025 14:03:41 GMT
recorded_with: VCR 6.4.0
